.Main{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.Main img{
    width: 15rem;
    height: 15rem;
    border-radius: 2rem;
    margin-right: 2rem;
}

.presentation{
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.curriculum{
    background-color: rgb(40, 40, 40);
    padding: 1rem;
    border-radius: 2rem;
    border: 2px solid rgb(102, 102, 102);
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

