.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.profile {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.profile img {
    height: 3rem;
    margin-right: 1rem;
    border-radius: 5rem;
}

.navigation {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 30rem;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.navigation li {
    cursor: pointer;
    padding: 0.8rem;
    border-radius: 1rem;

}

.navigation li:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}