.Footer {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
}

.icons {
    margin-top: 1rem;
    width: 10rem;
    display: flex;
    justify-content: space-around;
}

.icons svg {
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
}